<!DOCTYPE html>
<html>
  <head>
    <title>Ordnunger</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="/statics/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <img src="/statics/devil.png" style="width:9%; float: left;" />
    <div style="margin-left: 10%; padding-top: 1.5rem" class="jumbotron">
      <h4>Suggested daily ordnung for:</h4>
      <h3 style="margin-left: 2rem"> <%= @today %></h3>
      <%= if @show_chairman do %>
      <h4>Notes:</h4>
      <div class="list-group">
        <a class="list-group-item"><%= @chairman %></a>
      </div>
      <h4>Members:</h4>
      <% end %>
      <div class="list-group">
        <%= for member <- @members do %>
          <a class="list-group-item"><%= member %></a>
        <% end %>
      </div>
      <h4 style="margin-top: 1.8rem; font-size: 0.8rem">
        Proudly brought to you with
        <a href="https://github.com/elixir-lang/elixir">Elixir</a>,
        <a href="https://github.com/hexedpackets/trot">Trot</a>
        and put
        <a href="https://github.com/piotrklibert/ordnunger">on Github</a>.
      </h4>
    </div>
  </body>
</html>
